@using MvcOnlineTicari_Otomasyon.Models.Classes
@model List<Product>
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Fixed Header Table</h3>

            <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0" style="height: 300px;">
            <table class="table table-head-fixed text-nowrap">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Ürün Adı</th>
                        <th>Marka</th>
                        <th>Stok</th>
                        <th>Alış Fiyatı</th>
                        <th>Satış Fiyatı</th>
                        <th>Kategori</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                    <tr>
                        <td>@product.ProductID</td>
                        <td>@product.ProductName</td>
                        <td>@product.Brand</td>
                        <td>@product.Stock</td>
                        <td>@product.PurchasePrice</td>
                        <td>@product.SalePrice</td>
                        <td>@product.Category.CategoryName</td>
                    </tr>
                    }

                   
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
