@using MvcOnlineTicari_Otomasyon.Models.Classes
@model List<Current>
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Cariler Tablosu</h3>

            <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Adı Soyadı</th>
                        <th>Şehir</th>
                        <th>Mail</th>
                        <th>Durumu</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var current in Model)
                    {
                        <tr>
                            <td>@current.CurrentID</td>
                            <td>@current.CurrentName @current.CurrentSurname</td>
                            <td>@current.CurrentCity</td>
                            <td>@current.CurrentMail</td>
                            <td>@current.Status</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
