@using MvcOnlineTicari_Otomasyon.Models.Classes
@model List<Current>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-striped">
    <tr>
        <th>Cari Id</th>
        <th>Adı</th>
        <th>Soyadı</th>
        <th>Şehir</th>
        <th>Mail</th>
        <th>Düzenle</th>
        <th>Sil</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.CurrentID</td>
            <td>@x.CurrentName</td>
            <td>@x.CurrentSurname</td>
            <td>@x.CurrentCity</td>
            <td>@x.CurrentMail</td>
            <td><a href="/Current/CurrentDetails/@x.CurrentID" class="btn btn-warning">Düzenle</a></td>
            <td><a href="/Current/DeleteCurrent/@x.CurrentID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Current/CurrentSalesAct/@x.CurrentID" class="btn btn-success">Satış Geçimişi</a></td>
        </tr>
    }
</table>
<a href="/Current/NewCurrent/" class="btn btn-info">Yeni Cari Ekle</a>
