@model MvcOnlineTicari_Otomasyon.Models.Classes.Current
@{
    ViewBag.Title = "NewCurrent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Yeni Cari Sayfası</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelForModel("Cari Adı")
    @Html.TextBoxFor(x => x.CurrentName, new { @class = "form-control" })
    <br />
    @Html.LabelForModel("Cari Soyadı")
    @Html.TextBoxFor(x => x.CurrentSurname, new { @class = "form-control" })
    <br />
    @Html.LabelForModel("Şehir")
    @Html.TextBoxFor(x => x.CurrentCity, new { @class = "form-control" })
    <br />
    @Html.LabelForModel("Cari Mail Adresi")
    @Html.TextBoxFor(x => x.CurrentMail, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>

</form>

