@using MvcOnlineTicari_Otomasyon.Models.Classes
@model List<Staff>
@{
    ViewBag.Title = "DepartmentDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Departman Detay Sayfası</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Depratman Adı: @ViewBag.d</li>
</ol>

<table class="table table-hover">
    <tr>
        <th>Personel ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Görsel</th>
        <td>Satış</td>
    </tr>
    <tr>
        @foreach (var x in Model)
        {
            <td>@x.StaffID</td>
            <td>@x.StaffName</td>
            <td>@x.StaffSurname</td>
            <td>@x.StaffPhoto</td>
            <td>
                <a href="/Department/DepartmentStaffSelectAct/@x.StaffID" class="btn btn-default" style="background-color
    :orangered">Satışlar</a>
            </td>
        }

    </tr>
   
</table>
